//.for-applicants

.for-applicants__title
  color: #F57F31
  font-family: 'Roboto Slab', serif
  @media (min-width: 360px)
    font-size: 26px
    font-weight: 500
  @media (min-width: 576px)
    font-size: 40px
    font-weight: 600
  @media (min-width: 768px)
    font-size: 53px
  @media (min-width: 922px)
    font-size: 63px
  @media (min-width: 1200px)
    font-size: 80px

.for-applicants__dot
  color: #3A3A3A
  @media (min-width: 360px)
    font-size: 6px
    margin-top: 1px
  @media (min-width: 576px)
    font-size: 9px
    margin-top: 2px
  @media (min-width: 768px)
    font-size: 8px
    margin-top: 0
  @media (min-width: 922px)
    font-size: 9px
    margin-top: 2px
  @media (min-width: 1200px)
    font-size: 12px
    margin-top: 3px
  @media (min-width: 1440px)
    font-size: 14px
    margin-top: 4px