.slide
  display: flex !important
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  color: #FFFFFF
  font-family: 'Oswald', sans-serif
  text-transform: uppercase


.slide__img
  border-radius: 50%
  @media (min-width: 360px)
    width: 100px
    height: 100px
  @media (min-width: 576px)
    width: 130px
    height: 130px
  @media (min-width: 768px)
    width: 160px
    height: 160px
  @media (min-width: 1200px)
    width: 200px
    height: 200px
  @media (min-width: 1440px)
    width: 240px
    height: 240px

.slide__name
  @media (min-width: 360px)
    font-size: 20px
  @media (min-width: 576px)
    font-size: 25px
  @media (min-width: 768px)
    font-size: 28px
  @media (min-width: 1200px)
    font-size: 36px
  @media (min-width: 1440px)
    font-size: 46px

.slide__subject
  @media (min-width: 360px)
    font-size: 15px
  @media (min-width: 576px)
    font-size: 18px
  @media (min-width: 768px)
    font-size: 21px
  @media (min-width: 1200px)
    font-size: 25px
  @media (min-width: 1440px)
    font-size: 30px


.slick-next, .slick-prev
  &:before
    opacity: 1 !important
    @media (min-width: 992px)
      font-size: 30px
    @media (min-width: 1200px)
      font-size: 40px
    @media (min-width: 1440px)
      font-size: 46px
  &:hover
    &:before
      color: #F57F31 !important

.slick-dots
  li
    button
      &:before
        @media (min-width: 360px)
          font-size: 8px !important
          color: #FFFFFF !important
          opacity: 1 !important
        @media (min-width: 1200px)
          font-size: 14px !important
  .slick-active
    button
      &:before
        @media (min-width: 360px)
          font-size: 11px !important
          opacity: 1 !important
          color: #F57F31 !important
        @media (min-width: 1200px)
          font-size: 17px !important