@import "src/assets/sass/mixins/colors"

.mt-20
  margin-top: 20px

.title-text-align_center
  text-align: center
  @media (min-width: 768px)
    text-align: left

.subtitle-text-align_center
  text-align: center
  width: 100%
  @media (min-width: 992px)
    text-align: left

.row-text-justify-content_center
  align-items: center

.color_orange
  color: $dark-orange

.background-color__black
  background-color: $night-black

.list__dot
  color: $orange
  margin-right: 5px
  @media (min-width: 576px)
    margin-right: 7px
  @media (min-width: 992px)
    margin-right: 10px
  @media (min-width: 1200px)
    margin-right: 12px