.specialty
  background-size: cover
  height: 1956px
  @media (min-width: 768px)
    height: 2300px
  @media (min-width: 992px)
    height: 1956px
  @media (min-width: 1440px)
      height: 2300px

.specialty__top-mask
  width: 100%
  height: 100%
  @media (min-width: 360px)
    background-image: linear-gradient(#FFFFFF 0, transparent 4%)
  @media (min-width: 992px)
    background-image: linear-gradient(#FFFFFF 1%, transparent 6%)
  @media (min-width: 1440px)
    background-image: linear-gradient(#FFFFFF 1%, transparent 9%)

.specialty__bottom-mask
  width: 100%
  height: 100%
  @media (min-width: 360px)
    background-image: linear-gradient(transparent 67%, #FFFFFF 71%)
  @media (min-width: 576px)
    background-image: linear-gradient(transparent 93%, #FFFFFF 97%)
  @media (min-width: 768px)
    background-image: linear-gradient(transparent 96%, #FFFFFF 100%)
  @media (min-width: 992px)
    background-image: linear-gradient(transparent 75%, #FFFFFF 81%)
  @media (min-width: 1200px)
    background-image: linear-gradient(transparent 85%, #FFFFFF 91%)
  @media (min-width: 1920px)
    background-image: linear-gradient(transparent 88%, #FFFFFF 95%)

.specialty__content
  @media (min-width: 360px)
    padding-top: 85px
  @media (min-width: 992px)
    padding-top: 105px
  @media (min-width: 1200px)
    padding-top: 130px
  @media (min-width: 1440px)
    padding-top: 170px
  @media (min-width: 1920px)
    padding-top: 210px

.specialty-call-us__title
  text-transform: uppercase
  font-family: 'Oswald', sans-serif
  color: #FFFFFF
  @media (min-width: 360px)
    font-size: 26px
    font-weight: 500
  @media (min-width: 576px)
    font-size: 40px
    font-weight: 600
  @media (min-width: 768px)
    font-size: 53px
  @media (min-width: 992px)
    font-size: 63px
  @media (min-width: 1200px)
    font-size: 80px

.specialty__info
  font-family: 'Oswald', sans-serif
  text-transform: uppercase
  color: #FFFFFF
  @media (min-width: 360px)
    margin-top: 20px
  @media (min-width: 576px)
    margin-top: 25px
  @media (min-width: 768px)
    margin-top: 30px
  @media (min-width: 992px)
    margin-top: 50px
  @media (min-width: 1440px)
    margin-top: 60px
  .specialty__title
    @media (min-width: 360px)
      font-size: 20px
      font-weight: 400
    @media (min-width: 576px)
      font-size: 28px
    @media (min-width: 768px)
      font-size: 34px
      font-weight: 500
    @media (min-width: 992px)
      font-size: 44px
    @media (min-width: 1200px)
      font-size: 50px
    @media (min-width: 1440px)
      font-size: 58px

  .specialty__text
    @media (min-width: 360px)
      font-size: 16px
      font-weight: 300
      margin-top: 10px
    @media (min-width: 576px)
      font-size: 22px
    @media (min-width: 768px)
      font-size: 28px
    @media (min-width: 992px)
      font-size: 40px
    @media (min-width: 1200px)
      font-size: 45px
      margin-top: 15px
    @media (min-width: 1440px)
      font-size: 50px
      margin-top: 17px

.specialty__carousel
  @media (min-width: 360px)
    margin-top: 25px
  @media (min-width: 576px)
    margin-top: 35px
  @media (min-width: 1200px)
    margin-top: 70px
  @media (min-width: 1440px)
    margin-top: 90px