.cap
  height: 70px
  display: flex
  justify-content: space-between
  align-items: center
  color: #FFFFFF
  text-transform: uppercase

.cap__logo
  display: flex
  align-items: center

.logo__title
  font-size: 46px
  margin-top: 6px
  font-weight: 100
  font-family: 'Bebas Neue', cursive

.logo__img
  margin-left: 8px

.cap__link-list
  display: flex
  align-items: center

.link-list__link
  margin-right: 44px
  font-size: 25px
  font-family: 'Oswald', sans-serif
  font-weight: 600


.link-list__link:last-child
  margin-right: 0