.page__content
  margin: 0 auto
  width: 100%

.content
  margin: 0 auto
  @media (min-width: 360px)
    padding: 0 12px
  @media (min-width: 576px)
    padding: 0 20px
  @media (min-width: 768px)
    padding: 0 25px
  @media (min-width: 992px)
    padding: 0 60px
  @media (min-width: 1440px)
    padding: 0 105px
  @media (min-width: 1920px)
    padding: 0 235px

.list__dot
  color: #F57F31
  @media (min-width: 360px)
    margin-right: 5px
  @media (min-width: 576px)
    margin-right: 7px
  @media (min-width: 992px)
    margin-right: 10px
  @media (min-width: 1200px)
    margin-right: 12px