@import "src/assets/sass/mixins/fonts"
@import "src/assets/sass/mixins/colors"

.header
  background-size: cover

.header__mask
  width: 100%
  height: 100%
  padding-top: 110px
  padding-bottom: 400px
  background-image: linear-gradient(transparent 45%, $white 54%)
  @media (min-width: 576px)
    padding-top: 160px
    padding-bottom: 470px
    background-image: linear-gradient(transparent 48%, $white 61%)
  @media (min-width: 768px)
    padding-top: 210px
    background-image: linear-gradient(transparent 52%, $white 64%)
  @media (min-width: 992px)
    padding-top: 260px
    padding-bottom: 520px
    background-image: linear-gradient(transparent 55%, $white 70%)
  @media (min-width: 1200px)
    padding-top: 275px
  @media (min-width: 1440px)
    padding-top: 280px
    background-image: linear-gradient(transparent 58%, $white 72%)

.invite__title
  color: $white
  font-family: $source
  text-transform: uppercase
  font-weight: 500
  font-size: 25px
  @media (min-width: 576px)
    font-size: 35px
  @media (min-width: 768px)
    font-size: 43px
  @media (min-width: 992px)
    font-weight: 600
    font-size: 50px
  @media (min-width: 1200px)
    font-size: 60px
  @media (min-width: 1440px)
    font-size: 67px

.invite__text
  color: $white
  font-family: $source
  text-transform: uppercase
  font-size: 14px
  font-weight: 400
  @media (min-width: 576px)
    font-size: 17px
  @media (min-width: 768px)
    font-size: 21px
  @media (min-width: 992px)
    font-size: 25px
  @media (min-width: 1200px)
    font-size: 31px
  @media (min-width: 1440px)
    font-size: 36px
  span
    font-weight: 600

.invite__subtext
  color: $lite-orange
  font-size: 10px
  font-weight: 600
  @media (min-width: 576px)
    font-size: 12px
  @media (min-width: 768px)
    font-size: 16px
  @media (min-width: 992px)
    font-size: 21px
  @media (min-width: 1200px)
    font-size: 26px
  @media (min-width: 1440px)
    font-size: 31px

.invite__button
  text-transform: uppercase
  color: $bright-orange
  font-family: $oswald
  background: linear-gradient($blue-white, $white)
  padding: 5px 25px
  margin-top: 15px
  font-weight: 500
  box-shadow: 0 0 14px rgba(255, 154, 45, 0.5)
  border-radius: 4px
  font-size: 15px
  @media (min-width: 576px)
    margin-top: 18px
    font-size: 19px
  @media (min-width: 768px)
    padding: 6px 30px
    margin-top: 22px
    box-shadow: 0 0 25px rgba(255, 154, 45, 0.5)
    border-radius: 5px
    font-size: 25px
  @media (min-width: 992px)
    padding: 7px 40px
    margin-top: 25px
    box-shadow: 0 0 32px rgba(255, 154, 45, 0.6)
    font-size: 32px
  @media (min-width: 1200px)
    padding: 9px 50px
    margin-top: 28px
    border-radius: 7px
    font-size: 38px
  @media (min-width: 1440px)
    padding: 12px 61px
    margin-top: 35px
    font-weight: 600
    box-shadow: 0 0 40px rgba(255, 154, 45, 0.65)
    border-radius: 10px
    font-size: 42px
  @media (min-width: 1920px)
    box-shadow: 0 0 45px rgba(255, 154, 45, 0.65)
  &:hover
    cursor: pointer
    color: #EC7E05
    transform: scale(1.03)
    box-shadow: 5px 5px 15px rgba(236, 126, 5, 0.4)
    transition: all 1s ease
    @media (min-width: 768px)
      box-shadow: 10px 0 30px rgba(236, 126, 5, 0.5)
    @media (min-width: 1200px)
      box-shadow: 10px 0 45px rgba(236, 126, 5, 0.6)
    @media (min-width: 1920px)
      box-shadow: 10px 0 50px rgba(236, 126, 5, 0.6)