.cellar
  background: rgba(159, 130, 70, 0.8)
  @media (min-width: 360px)
    padding: 8px 20px
  @media (min-width: 576px)
    padding: 10px 25px
  @media (min-width: 768px)
    padding: 15px 30px
  @media (min-width: 992px)
    padding: 18px 35px
  @media (min-width: 1200px)
    padding: 20px 40px
  @media (min-width: 1440px)
    padding: 25px 45px

.cellar__up-content
  display: flex
  justify-content: space-between

.cellar__up-content > .cellar__text
  @media (min-width: 360px)
    padding: 0 4px
  @media (min-width: 768px)
    padding: 0 9px
  @media (min-width: 1200px)
    padding: 0 12px

.cellar__down-content
  @media (min-width: 360px)
    margin-top: 8px
  @media (min-width: 768px)
    margin-top: 15px
  @media (min-width: 1200px)
    margin-top: 20px

.cellar__text
  text-align: center
  color: #000000
  @media (min-width: 360px)
    font-size: 5px
  @media (min-width: 576px)
    font-size: 7px
  @media (min-width: 768px)
    font-size: 9px
  @media (min-width: 992px)
    font-size: 11px
  @media (min-width: 1200px)
    font-size: 13px
  @media (min-width: 1440px)
    font-size: 15px